div.container
  div.review-customer
    div.customer
      img.ava-img(src="/clients/icon/sanpham-logo.svg" alt="")
      p.review-tittle Thu Hiền
      img.star-img(src="/clients/icon/sanpham-5star.svg" alt="")
      p.review-tittle Nhẫn quá đẹp
      p.review-detail Chưa bao giờ tôi mua một chiếc nhẫn đẹp như dị. Happy new yearrr. Chúc mọi người năm mới vui vẻ.
    div.customer
      img.ava-img(src="/clients/icon/sanpham-logo.svg" alt="")
      div.review-tittle Minh Diệu
      img.star-img(src="/clients/icon/sanpham-5star.svg" alt="")
      div.review-tittle Nhẫn quá đẹp
      div.review-detail Chưa bao giờ tôi mua một chiếc nhẫn đẹp như dị. Happy new yearrr. Chúc mọi người năm mới vui vẻ.
    div.customer
      img.ava-img(src="/clients/icon/sanpham-logo.svg" alt="")
      div.review-tittle Bảo Ngọc
      img.star-img(src="/clients/icon/sanpham-5star.svg" alt="")
      div.review-tittle Nhẫn quá đẹp
      div.review-detail Chưa bao giờ tôi mua một chiếc nhẫn đẹp như dị. Happy new yearrr. Chúc mọi người năm mới vui vẻ.
  //- Button Load more
  a.btn.home-product__Load(href="danhmuc.html") Xem thêm
