section#newsletter
  .container
    .news
      p.news-content Đăng ký bản tin của LUXE để cập nhật thông tin mới nhất về chương trình giảm giá và sản phẩm!
      form.news-register
        input.text-reg(type="text" name="dangKy" id="dangKy" placeholder="Nhập Email của bạn")
        button.btn.register Đăng ký
