extends ../../layouts/default.pug
include ../../mixins/alert.pug

block css 
  link(rel="stylesheet" href="/clients/css/hotro.css")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")


block main
  +alert-success(message, 5000)
  +alert-error(message, 5000)
  include ./question.pug

  block script
    script(src="/clients/js/hotro.js")


