section.faq-section
  h2.faq-title Câu hỏi thường gặp
  //- Câu hỏi 1
  div.faq-item
    div.faq-question
      p 1. Làm cách nào để nhận được mã giảm giá từ LUXE?
      img.faq-icon(src="/clients/icon/hotro-add.svg" alt="")
    div.faq-answer
      p Để nhận được mã giảm giá từ Luxe, hãy thực hiện các bước sau:
      p
        | 1. Trở thành thành viên của Luxe: Điền thông tin
        | của bạn tại mục "Đăng kí thành viên" 
        a(href="dangky.html" style="font-style:italic;") tại đây
        | , sau đó nhấn nút "Đăng ký".
      p
        | 2. Chờ đợi thông báo từ chúng tôi: Mã giảm giá sẽ
        | được đính kèm tại các sự kiện giảm giá tiếp theo và Luxe sẽ email
        | thông báo đến bạn.
  //- Câu hỏi 2
  div.faq-item
    div.faq-question
      p 2. Tôi có thể đưa ý tưởng thiết kế sản phẩm theo ý của mình hay không?
      img.faq-icon(src="/clients/icon/hotro-add.svg" alt="")
    div.faq-answer
      | Bạn có thể đưa thiết kế theo ý tưởng thiết kế cho nhân viên của chúng
      | tôi tại cửa hàng hoặc liên hệ qua phần liên hệ của cửa hàng 
      a(href="lienhe.html" style="font-style:italic;") tại đây 
      | !
  //- Câu hỏi 3
  div.faq-item
    div.faq-question
      p 3. Phí vận chuyển được tính như thế nào?
      img.faq-icon(src="/clients/icon/hotro-add.svg" alt="")
    div.faq-answer
      | Phí vận chuyển sẽ được tính tùy theo đơn hàng, vị trí và mã giảm giá
      | của bạn nhé.
  //- Câu hỏi 4
  div.faq-item
    div.faq-question
      p 4. Nếu không vừa ý, tôi có thể đổi trả hay không?
      img.faq-icon(src="/clients/icon/hotro-add.svg" alt="")
    div.faq-answer
      | Bạn có thể đổi trả trong vòng 7 ngày sau khi giao hàng nhé!
  //- Câu hỏi 5
  div.faq-item
    div.faq-question
      p 5. Xuất hoá đơn điện tử/ hoá đơn VAT như thế nào?
      img.faq-icon(src="/clients/icon/hotro-add.svg" alt="")
    div.faq-answer
      | Bạn liên hệ nhân viên của Luxe tại cửa hàng hoặc thông qua các kênh
      | liên lạc qua facebook/instagram của Luxe kèm theo hoá đơn để được hỗ
      | trợ nhé!
