div.content-wrapper
  div.content1
    div.ve-chung-toi-wrap
      div.ve-chung-toi
        div(style="color: black !important")
          h1
            b Về chúng tôi
          p Muse là cửa hàng thời trang uy tín tại Việt Nam, chuyên cung cấp các sản phẩm quần áo chất lượng cao với mức giá hợp lý. Chúng tôi luôn cam kết mang đến sự hài lòng cho khách hàng thông qua các sản phẩm đa dạng, phù hợp với nhiều phong cách khác nhau. Với dịch vụ chu đáo và tận tâm, Muse đã trở thành sự lựa chọn đáng tin cậy của nhiều khách hàng trong suốt thời gian qua.
            
        img(src="/clients/img/istockphoto-1338894509-612x612.jpg")
    div.su-menh
      img(src="/clients/img/thiet-ke-shop-thoi-trang-tinovy-4.jpg")
      div
        h1
          b Sứ mệnh
        p Tại Muse, chúng tôi tin rằng mỗi bộ trang phục không chỉ là một sản phẩm mà còn là sự thể hiện phong cách và cá tính của mỗi người. Sứ mệnh của chúng tôi là mang đến cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất, từ việc lựa chọn sản phẩm phù hợp đến dịch vụ chăm sóc tận tâm sau bán hàng. Chúng tôi cam kết trở thành người bạn đồng hành đáng tin cậy trong mọi khoảnh khắc quan trọng của cuộc sống bạn.

    div.tam-nhin
      div
        h1
          b Tầm nhìn
        p Tầm nhìn của chúng tôi là xây dựng một cộng đồng yêu thời trang, nơi khách hàng không chỉ đến để mua sắm mà còn để chia sẻ, kết nối và khám phá phong cách sống qua từng bộ trang phục. Chúng tôi mong muốn trở thành điểm đến hàng đầu cho những ai yêu thích thời trang, nơi họ có thể cập nhật xu hướng mới, nhận được tư vấn tận tâm và tìm thấy những sản phẩm phù hợp nhất với cá tính của mình.
      img(src="/clients/img/shop-quan-ao.jpg")