extends ../../layouts/default.pug
include ../../mixins/alert.pug

block css 
  link(rel="stylesheet" href="/clients/css/thanhtoan.css")

block main
  +alert-success(message, 5000)
  +alert-error(message, 5000)
  include ./detail-checkout.pug
  block script
    script(src="/clients/js/thanhtoan.js")
